.main-body {
    width: 97%;

    margin-top: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: white;

    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;

}
@media screen and (max-width: 600px) {
    .main-body {
      margin-top: 0.5rem;
      box-shadow: none;
      flex-direction: column;
      width: 88%;
      padding-left: 1.2rem;
      padding-right: 1.2rem;
    }

    .basic-card {
      /* border: 1px solid black; */
      /* height: 9rem; */
      
    }
    /* .basic-card-content {
      border: 1px solid black;
      padding: 0;
      
    } */
        
  }
